**/__pycache__/
/saved_models/
/saved_models_new/
/saved_models_conv2d/
/saved_models_conv2d_proof/
/saved_models_conv2d_experimental/
/saved_models_conv2e_scipy/
/logs/
/datasets_low/
/datasets_low_big/
